<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>제8대 소프트웨어학과 이룸학생회</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Nanum+Myeongjo|Gamja+Flower|Hi+Melody|Jua|Nanum+Brush+Script|Nanum+Pen+Script&display=swap&subset=korean" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="stylesheets/introduce.css" rel="stylesheet">

</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/" style="font-size: 30px">EROOM</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/" >홈</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/introduce">학생회 소개</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notice/1">공지사항</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calendar">학생회 일정</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle= "dropdown">대여 관리</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/rent">전공서적</a>
              <a class="dropdown-item" href="/rent_a">보조배터리 & 자전거</a>
              <a class="dropdown-item" href="/rent_b">우산 & 담요</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/<%= logIO_L %>"><%= logIO_T %></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('images/Student Council introduce2.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About US</h1>
            <span class="subheading">This is what We do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Council history -->
  <div class="container col-md-9">
    <section class="block-content t-block-teal l-block-spacing">
    					<div class="l-contained">
    						<header class="heading-group">
    							<h1 class="intro_header">연혁소개</h1>
    							<p class="intro_subtitle">
    								from the past to the present
    							</p>
    						</header>
    						<ul class="timeline-list">
                  <li>
                      <div class="content">
    								<h2>2013</h2>
                    <p>전자정보대학 제3대 소프트웨어학과 스타트 학생회 <b>:START</b><br />
                      회장 이석범, 부회장
                    </p>
                    </div>
    							</li>
    							<li>
                      <div class="content">
    								<h2>2014</h2>
                    <p>전자정보대학 제3대 소프트웨어학과 소원 학생회 <b>:SOONE</b><br />
                      회장 조진우 , 부회장 한덕희
                    </p>
                    </div>
    							</li>
    							<li>
                      <div class="content">
    								<h2>2015</h2>
                    <p>전자정보대학 제3대 소프트웨어학과 썸 학생회 <b>:SSUM</b><br />
                      회장 박진세, 부회장 강석현
                    </p>
                    </div>
    							</li>
    							<li>
                      <div class="content">
    								<h2>2016</h2>
                    <p>전자정보대학 제4대 소프트웨어학과 아람 학생회 <b>:ARAM</b><br />
                      회장 우유동, 부회장 임진석
    								</p>
                    </div>
    							</li>
    							<li>
                      <div class="content">
    								<h2>2017</h2>
                    <p>전자정보대학 제5대 소프트웨어학과 버디 학생회 <b>:BUDDY</b><br />
                      회장 김용현, 부회장 강태길
    								</p>
                    </div>
    							</li>
                  <li>
                      <div class="content">
    								<h2>2018</h2>
                    <p>전자정보대학 제6대 소프트웨어학과 치즈 학생회 <b>:CHEESE</b><br />
                      회장 강경민, 부회장 연준흠
    								</p>
                    </div>
    							</li>
                  <li>
                      <div class="content">
    								<h2>2019</h2>
    								<p>전자정보대학 제7대 소프트웨어학과 드래그 학생회 <b>:DRAG</b><br />
                      회장 안제현, 부회장 조우석
    								</p>
                    </div>
    							</li>
                  <li>
                      <div class="content">
    								<h2 style="color:#d4d462">2020</h2>
    								<p>전자정보대학 제 8대 소프트웨어학과 이룸 학생회 <b>:EROOM</b><br />
                       회장 이완석, 부회장 김용기
                    </p>
                    </div>
    							</li>
    						</ul>
    					</div>
    				</section>
  </div>

  <!-- Council introduce -->
  <div class="container col-md-9" id="intro_container">
    <div class="row">
      <div class="introduce1">
        <h1 class="intro_header">회장인사</h1>
        <p class="intro_subtitle">greeting from the president</p>
        <img class="intro_img1" src = "images/Chairman.jpg"/>
        <p class="intro_content">
          안녕하세요. 제8대 소프트웨어학과 이룸 학생회장 이완석입니다.<br />
          이룸은 이루다의 줄임말로서 '뜻한 대로 되게 하다' 라는 의미를 지니고 있습니다.<br />
          우리는 모두 저마다의 목표와 꿈을 가지고 소프트웨어 학과에 진학하게 되었습니다.<br />
          의미있는 학과 생활을 통해 '이룸' 학생회는 여러분이 꿈을 키울 수 있도록 도와주는 학생회가 되고자 합니다.<br /><br />


          1. 서문 근처의 다양한 업체들과의 제휴를 통해 혜택을 얻을 수 있는 <b>제휴업체 서비스</b>를 진행하겠습니다.<br />
          2. SNS활성화, 학과 공지 알리미, 학생회 홈페이지 구축, 오피스룸 및 정독실 개편 등을 통해 <b>학술 증진 사업을 개편 및 확장</b>하겠습니다.<br />
          3. 전공서적, 보조배터리, 우산을 추가 구매하고 자전거, 담요 등 새로운 대여 물품을 확보하여 <b>대여사업을 개편 및 확장</b>하겠습니다.<br />
          4. 이모저모 프로그램을 통해 재학생 간의 교류를 증진 시키는 <b>교류 증진 사업을 추진</b>하도록 하겠습니다.<br /><br />


          학우 분들이 이룸이라는 열매를 맺을 수 있도록, 오늘도 이룸 학생회는 끊임없이 노력하겠습니다.<br />
          부족한 부분은 항상 귀담아 듣고, 빠르게 개선해 나갈 수 있는 학생회가 되도록하겠습니다.<br />
          코로나 조심하시고 항상 건강하십시오.<br />
          감사합니다.
        </p>
      </div>

      <div class="introduce2">
        <h1 class="intro_header">학생회 조직도</h1>
        <p class="intro_subtitle">Student Council Department Organization Chart</p>
        <img class="intro_img2" src = "images/member/Organization chart.PNG"/>
      </div>
    </div>
  </div>
  <hr>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://instagram.com/software_eroom?igshid=12vwurt8xamjq">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/SeokLii/EROOM-Website">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">(28644) 충북 청주시 서원구 충대로 1, 충북대학교 전자정보대학 소프트웨어학과 S4-1동(전자정보 3관) 109호<br />
                                          TEL : 010-6583-5683 / 010-3302-9138<br />
                                          Copyright © EROOM. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="javascripts/clean-blog.min.js"></script>

</body>

</html>
