<!DOCTYPE html>
<html>
<head>
    <title>제8대 소프트웨어학과 이룸학생회</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Gamja+Flower|Hi+Melody|Nanum+Brush+Script|Nanum+Pen+Script&display=swap&subset=korean" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="stylesheets/clean-blog.min.css" rel="stylesheet"> <!--이름 변경 필요-->

</head>
<body>
<h1>물품 추가하기</h1>
<form action="/rent_b_write/write" method="post">
    <table border="1">
        <tr>
            <td>종류</td>
            <td><input style="width: 350px;" type="text" name="kind" id="kind" placeholder="우산[A-Z] or 담요[A-Z]" required/></td>
        </tr>
        <tr>
            <td>제품 명</td>
            <td><input style="width: 350px;" type="text" name="name" id="name" required/></td>
        </tr>
        <tr>
            <td>물품 코드</td>
            <td><input style="width: 350px;" type="text" name="code" id="code" placeholder="작성하지 않으면 기존 MAX +1 증가함" required/></td>
        </tr>
        <tr>
            <td>상세 내용</td>
            <td><input style="width: 350px;" type="text" name="description" id="description" required/></td>
        </tr>
            <td colspan="2">
                <button type="submit">추가</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
